In [ ]:
import pandas as pd

In [ ]:

data = {'Nome':['João','Maria','Pedro'],
        'Idade': [28,34,29],
        'Cidade': ['São Paulo', 'Rio de Janeiro','Belo Horizonte']}
df = pd.DataFrame(data)

3. Lendo um arquivo csv

In [ ]:
df  = pd.read_csv('nome_do_arquivo.csv')

4. Selecionando dados

In [ ]:
## Selecionando uma coluna 
df['Nome']

# Selecionando várias colunas
df[['Nome', 'Idade']]

# Selecionando linhas
df[1:3]

5. Filtrando Dados

In [ ]:
df[df['Idade'] > 30]

6. Agrupando dados

In [ ]:
df.groupby('Cidade')['Salário'].mean()

7. Manipulando dados

In [ ]:
# Adicionando uma nova coluna
df['Salário'] = [5000, 7000, 6000]

# Removendo uma coluna
df = df.drop(columns=['Idade'])

8. Lidando com dados faltantes

In [ ]:
# Removendo linhas com dados faltantes
df = df.dropna()

# Preenchendo dados faltantes
df = df.fillna(value=0)

In [ ]:
data = {'Nome': ['João', 'Maria', 'Pedro'],
        'Idade': [28, 34, 29],
        'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte'],
        'Salário': [5000, 7000, 6000]}
df = pd.DataFrame(data)

# Agrupando por 'Cidade' e calculando a média dos salários
df.groupby('Cidade')['Salário'].mean()

In [ ]:
# Exercício 1: Importe a biblioteca pandas
import pandas as pd

In [ ]:
# Exercício 2: Crie um DataFrame a partir de um dicionário
data = {
    'nome': ['João', 'Maria', 'Pedro', 'Ana'],
    'idade': [23, 45, 30, 18],
    'cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Porto Alegre']
}
df = pd.DataFrame(data)

In [ ]:
# Exercício 3: Exiba as primeiras linhas do DataFrame
print(df.head())

In [ ]:
# Exercício 4: Exiba as informações do DataFrame
print(df.info())

In [ ]:

# Exercício 5: Descreva as colunas numéricas do DataFrame
print(df.describe())

In [ ]:
# Exercício 6: Selecione uma coluna específica
print(df['nome'])

In [ ]:
# Exercício 7: Filtre o DataFrame com base em uma condição
print(df[df['idade'] > 30])

In [ ]:
# Exercício 8: Agrupe o DataFrame por uma coluna e calcule a média da outra coluna
print(df.groupby('cidade')['idade'].mean())

In [ ]:

# Exercício 9: Crie uma nova coluna com base em uma condição
df['maior_de_idade'] = df['idade'] >= 18
print(df)

In [ ]:
# Exercício 10: Salve o DataFrame em um arquivo CSV
df.to_csv('data.csv', index=False)